/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
body{
  background-color:#494845;
}

#zone-content{
	background-color:rgba(255,255,255,0.5);	
	border-radius: 5px 5px 5px 5px; 
	-moz-border-radius: 5px 5px 5px 5px; 
	-webkit-border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 10px 10px rgba(255,255,255,0.5);
}

.panel-panel{
	margin-top:20px;
}

h2.pane-title{
	position:absolute;
	top:-15px;
	border-radius: 10px 0px 10px 0px; 
	-moz-border-radius: 10px 0px 10px 0px ; 
	-webkit-border-radius: 10px 0px 10px 0px; 
	border: 1px solid #000000;
	text-shadow: 2px 2px 5px #000000;
	color:#F5F5F5;
	box-shadow:2px 2px 5px #000000;
	padding-left:10px;
	z-index:1;
	margin-bottom:0px;
	background-color:#1B1B1B;
}



.pane-content{
  padding:40px 10px 10px 10px;
  background-color:#cccccc;
  box-shadow:2px 2px 5px #000000;
  border-radius: 10px 0px 10px 0px; 
  -moz-border-radius: 0px 5px 0px 5px; 
  -webkit-border-radius: 0px 5px 0px 5px;
  margin-bottom:10px;
	margin-left:10px;
  border:1px solid #000000;
}
