/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

#section-content h2.pane-title{
border-radius: 5px 5px 0px 0px; 
-moz-border-radius: 5px 5px 0px 0px ; 
-webkit-border-radius: 5px 5px 0px 0px; 
border: 1px solid #000000;
background-image:url(../images/header-bg.png);
background-repeat:repeat;
text-shadow: 2px 2px 5px #000000;
color:#F5F5F5;
box-shadow:2px 2px 5px #000000;
padding-left:10px;
z-index:1;
margin-bottom:0px;
}

body{
  background-color:#494845;
}

#zone-content{
background-color:white;
border-radius: 5px 5px 5px 5px; 
-moz-border-radius: 5px 5px 5px 5px; 
-webkit-border-radius: 5px 5px 5px 5px;
}



#section-content .pane-content{
  padding:0 10px 10px 10px;
  background-color:#cccccc;
  box-shadow:2px 2px 5px #000000;
  border-radius: 0px 0px 5px 5px; 
  -moz-border-radius: 0px 0px 5px 5px; 
  -webkit-border-radius: 0px 0px 5px 5px;
  margin-bottom:10px;
  border-right:1px solid #000000;
  border-left:1px solid #000000;
}